body{
    background-image: url('./assets/bg12.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-family: 'Abril Fatface';
    padding-top: 5%;
    word-wrap: break-word;
}


.logo{
    width: 259px;
    height: 250px;
    align-items: center;
}

.App{
    display: flex;
    flex-direction: column;

}
.Block{
    border: 1px solid rgb(59, 22, 22);
    line-height: 27px;
    width: 900px;
    padding:2.5%;
    margin: 1%;
    margin-left:auto;
    margin-right:auto;
    align-items: center;
    
}

.hangchain {
    height: 80px;
    background-image: url(assets/hangchain.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.ConductTransaction, .TransactionPool {
    margin: 10%;
}

a, a:hover{
    color: #000000;
    text-decoration: underline ;
}
